{% extends "BlogCocina/base.html" %}

{% block contenido %}
{% load static %}
<h3>Hola mi nombre es María Montserrat Gassull, soy Profesora de Nivel Inicial.</h3>
<h3>Arme este blog porque me gusta mucho cocinar y estoy aprendiendo a porgramar. Me interesa poder intercambiar recetas,
    me gusta mucho innovar y probar cosas nuevas, tanto saladas como dulces.</h3>
<h3>¡Gracias por venir a mi Blog!</h3>
<br><br>
<div class="text-center">
    <img src="{% static 'imagenes/foto.jpg' %}" alt="Foto Creadora" />
</div>
{% endblock contenido %}