{% extends "BlogCocina/base.html" %}

{% block subtitulo %}Editar Artículo{% endblock subtitulo%}

{% block contenido %}
<div class="text-center">
    <h1>
        {{object.titulo}}
    </h1>
    <p>
        {{object.subtitulo}}
    </p>
</div>
<p>
    <strong>Autor:</strong> {{object.autor}}
</p>
<p>
    <strong>Fecha:</strong> {{object.fecha}}
</p>
<br>
<div>
    <div class="col-md-32">
        <div class="col-md-2">
            {{views.imagen.label}}
        </div>
        <div class="col-md-10">
            <img src="{{ object.imagen.url }}" alt="Imagen del artículo">
    </div>
</div>
<br>
<p>
    <strong>Receta:</strong> {{object.cuerpo}}
</p>

<br>
<a href="{% url 'lista-articulos' %}">Volver a Lista de Recetas</a>

{% endblock contenido %}
