{% extends "BlogCocina/base.html" %}

{% block contenido %}
<section>
    <div>
        <h1>Lista de Recetas</h1>

        <a href="{% url 'crear-articulos' %}">Crear Receta</a>
        <br>

        {% if  not object_list %}

        <br><br>
        <h3>No hay entradas aún</h3>

        {% else %}

        <table class="table">
            <tbody>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for articulo in object_list %}
                <tr>
                    <td>{{ articulo.titulo }}</td>
                    <td>{{ articulo.subtitulo }}</td>
                    <td>
                        <a href="{% url 'ver-articulos' articulo.id %}">Leer Receta Completa</a>
                    </td>
                    {% if articulo.usuario == request.user %}
                    <td>
                        <a href="{% url 'editar-articulos' articulo.id %}">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar-articulos' articulo.id %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    {% endif %}  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</section>
{% endblock contenido %}